/* default sections css */ 

.toCome {
  font-family: sans-serif;
  font-style: italic;
  font-size: 1.0rem;
}

.lnkCorrect, a {
  color: #fff;
  text-decoration: none;
}

.box {
  margin: 5rem 0.8rem 0.8rem 0.8rem;
  padding: 0.7rem 0 0.2rem 0.8rem;
  border-left: 2px solid #beebff;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

/* lower section b/c area section heading text, paragraph and button spacing */

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* upper showcase area with negative bottom margin to overlap top right image onto bkg image of Section-A*/

.showcase-heading {
    font-size: 3.0rem;
    padding-top: 1rem;
}

.showcase-img {
    position: relative;
    max-width: 80%;
    margin: 1rem auto -12rem;
}

/* lower background image of Section-A */

.section-a {
    color: #fff;
    padding-bottom: 5rem;
    background-color: #333;
}

/* changes size of "calendar" "cloud" and "user" icons of Section-A */

.section-a .fa {
    font-size: 40px;
    margin-bottom: .5rem;
    color: #beebff;
}

/* tighten the space bewteen the h5 heading and the paragraph text below of Section-A */

.section-a h5 {
    margin-bottom: .3rem;
}

.section-c {
    color: #fff;
}

.section-c .section-description {
    margin-bottom: 4rem;
}


/* push showcase heading text at top down beside the image & resize image when on a larger screen */

@media(min-width:750px) {
    .showcase-heading {
        font-size: 3.0rem;
        padding-top: 5rem;
        margin-top: -1rem;
    }
    .showcase-img {
        position: relative;
        max-width: 100%;
        margin: 1rem auto -15rem;
    }

    .box {
      margin: 10rem;
      padding: 1.5rem 0 0.5rem 1.5rem;
      border-left: 3px solid #beebff;
    }

}
